<tr>
    <td>{{team.abbreviation}}</td>
    <td>{{positionName}}</td>
    <td>{{firstName}}</td>
    <td>{{lastName}}</td>
    <td>{{injuryStatus}}</td>
    <td>{{formattedSalary}}</td>
    <td>{{lastUpdated}}</td>
</tr>